.hero-image {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/pexels-andrew-neel-3166835.jpg");
  min-height: 15em;
  height: 50%;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center; }

.hero-text {
  text-align: center;
  color: white; }

.hero-header {
  align-self: center;
  font-size: 50px; }
