.Container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.items {
  margin: 10px;
  width: 400px;
  height: 200px;
  background-color: black;
  text-align: center;
  line-height: 200px; }

.items:hover {
  background-color: yellow;
  color: black;
  font-weight: bolder; }
