.Container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.items {
  margin: 10px;
  width: 400px;
  height: 455px;
  background-color: black;
  color: #b3b3b3;
  text-align: center;
  border: 5px #232323 solid;
  border-radius: 15px; }

.items-title {
  width: 380px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #EDEDED;
  font-size: 20px;
  height: 25px;
  color: black;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif; }

.items-box {
  height: 395px; }

.items-box img {
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  width: 350px; }

.items-box .image2 {
  width: auto;
  height: 200px; }

.items-list {
  margin: 0px;
  padding: 0px 0px 0px 25px;
  text-align: left; }

.items-list li {
  font-size: 14px;
  color: yellow; }

.items-footer {
  width: 380px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #191919;
  color: gray;
  font-size: 15px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif; }

small {
  color: gray; }
